{% macro displayInputField(field, fieldName) %}
<div class="form-group">
    {{ field(class_="form-control", placeholder=fieldName, required=true, **kwargs) }}
    {% for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
{% endmacro %}

{% macro displayCheckField(field) %}
<div class="form-check">
    {{ field(class_="form-check-input", **kwargs) }}
    {{ field.label(class_="form-check-label") }}
</div>
{% endmacro %}

{% macro displaySubmitButton(field) %}
{{ field(class_="btn btn-primary")}}
{% endmacro %}