{% macro displayInputField(field, fieldName, icon) %}
<div class="form-group input-icon-wrapper">
    {{ field(class_="form-control pl-5", placeholder=fieldName, required=true, **kwargs) }}
    <span class="input-icon">
        <i class="{{icon}}"></i>
    </span>
    {% for error in field.errors %}
    <div class="invalid-feedback">{{ error }}</div>
    {% endfor %}
</div>
{% endmacro %}

{% macro displayCheckField(field) %}
<div class="custom-control custom-checkbox mt-4">
    {{ field(class_="custom-control-input", **kwargs) }}
    {{ field.label(class_="custom-control-label") }}
</div>
{% endmacro %}

{% macro displaySubmitButton(field) %}
{{ field(class_="btn btn-info my-4")}}
{% endmacro %}