{% extends "base.html" %}
{% from "auth/_macros.html" import displayInputField, displayCheckField, displaySubmitButton %}

{% block title %}Login - {% endblock %}

{% block page_content %}
<div class="min-vh-100 form-wrapper mt-n3 mx-3">
    <div class="col-sm-8 text-center form">
        <h4 class="mb-4">Login</h4>
        <p class="text-secondary font-weight-light">Enter your Flack account to start chatting!</p>
        <form action="{{ url_for('auth.login') }}" method="POST">
            {{ form.csrf_token }}
            {{ displayInputField(form.email, "Email", "fas fa-envelope", autocomplete="off", autofocus=true) }}
            {{ displayInputField(form.password, "Password", "fas fa-lock") }}
            {{ displayCheckField(form.remember_me) }}
            {{ displaySubmitButton(form.submit)}}
        </form>
        <div class="mt-4 text-secondary">
            <span>Don't have an account?</span>
            <a class="form-link" href="{{ url_for('auth.signup') }}">Sign up</a>
        </div>
    </div>
</div>
{% endblock %}