{% extends "base.html" %}
{% from "auth/_macros.html" import displayInputField, displayCheckField, displaySubmitButton %}

{% block title %}Login - Chat{% endblock %}

{% block page_content %}
<div class="my-5 form-wrapper">
    <div class="col-sm-8 text-center form">
        <h4 class="text-secondary mb-4">Login</h4>
        <form action="{{ url_for('auth.login') }}" method="POST">
            {{ form.csrf_token }}
            {{ displayInputField(form.email, "Email", "fas fa-envelope", autocomplete="off", autofocus=true) }}
            {{ displayInputField(form.password, "Password", "fas fa-lock") }}
            {{ displayCheckField(form.remember_me) }}
            {{ displaySubmitButton(form.submit)}}
        </form>
    </div>
</div>
{% endblock %}