{% extends "base.html" %}
{% from "auth/_macros.html" import displayInputField, displaySubmitButton %}

{% block title %}Signup - Chat{% endblock %}

{% block page_content %}
<div class="my-5 form-wrapper">
    <div class="col-sm-8 text-center form">
        <h4 class="text-secondary mb-4">Sign up</h4>
        <form action="{{ url_for('auth.signup') }}" method="POST">
            {{ form.csrf_token }}
            {{ displayInputField(form.username, "Username", "fas fa-user", autocomplete="off", autofocus=true) }}
            {{ displayInputField(form.email, "Email", "fas fa-envelope", autocomplete="off") }}
            {{ displayInputField(form.password, "Password", "fas fa-lock") }}
            {{ displayInputField(form.password2, "Confirm password", "fas fa-lock") }}
            {{ displaySubmitButton(form.submit)}}
        </form>
        <div class="mt-4 text-secondary">
            <span>Already have an account?</span>
            <a class="form-link" href="{{ url_for('auth.login') }}">Log in</a>
        </div>
    </div>
</div>
{% endblock %}