input:not([type="hidden"]) + .invalid-feedback {
    display: block;
}

.active {
    color: blue;
}

.chat-container {
    display: flex;
    overflow: hidden;
    /*position: relative;*/
    width: 100%;
}

.chat-section {
    overflow-y: scroll;
    height: auto;
    position: relative;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.channels, .members {
    flex: 1;
}

.messages {
    flex: 2;
}

.channels::-webkit-scrollbar,
.messages::-webkit-scrollbar,
.members::-webkit-scrollbar {
    display: none;
}

.channels {
    border-right: 1px solid #000000;
}

.members {
    border-left: 1px solid #000000;
}

.fixed-header {
    background-color: white;
    padding-bottom: 10px;
    display: flex;
    /*justify-content: center;*/
    position: sticky;
    top: 0;
}

.aaa {
    /*width: 100%;*/
}

textarea[name="message"] {
    resize: none;
}