input:not([type="hidden"]) + .invalid-feedback {
    display: block;
}

.channel-active {
    color: blue;
}

.chat-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    opacity: 0.99;
}

.chat-section {
    overflow-y: scroll;
    height: auto;
    position: relative;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.channels, .members {
    flex: 1;
    min-width: 230px;
    transition: all 0.3s linear;
}

.messages {
    flex: 2;
    transition: all 0.3s linear;
}

.removed {
    flex: 0;
    min-width: 0;
}

.channels::-webkit-scrollbar,
.messages::-webkit-scrollbar,
.members::-webkit-scrollbar {
    display: none;
}

.channels {
    border-right: 1px solid #000000;
}

.members {
    border-left: 1px solid #000000;
}

.fixed-header {
    background-color: white;
    padding-bottom: 10px;
    display: flex;
    position: sticky;
    top: 0;
}

textarea[name="message"] {
    resize: none;
}