.main-container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat-container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.chat-section {
    overflow-y: scroll;
    height: auto;
    position: relative;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.channels, .channel-info {
    flex: 1;
    min-width: 240px;
    transition: all 0.3s linear;
}

.messages {
    flex: 2;
    transition: all 0.3s linear;
}

.removed {
    flex: 0;
    min-width: 0;
}

.channels::-webkit-scrollbar,
.messages::-webkit-scrollbar,
.channel-info::-webkit-scrollbar {
    display: none;
}

.sentinel {
    min-height: 1px;
}

.fixed-header {
    padding: 0.7em 0;
    margin-bottom: 1em;
    color: #fff;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    background: -webkit-linear-gradient(to right, #7b79e8, #e95ef9);
    background: -o-linear-gradient(to right, #7b79e8, #e95ef9);
    background: -moz-linear-gradient(to right, #7b79e8, #e95ef9);
    background: linear-gradient(to right, #7b79e8, #e95ef9);
}

.channel-name-header {
    max-width: calc(100% - 2.6em);
}

.channel-items-list {
    margin-left: auto;
    margin-right: auto;
    width: 240px;
}

.channel-items-list .channel-name:hover {
    color: #fff;
}

.channel-active {
    color: #fff;
}

.modal-dialog {
    max-width: 400px;
}

.message {
    padding: 1em;
    width: 90%;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    opacity: 0.7;
    overflow: hidden;
}

.avatar {
    height: 30px;
    width: 30px;
}

.message-username {
    color: #6f42c1;
}

.channel-details:not(:empty) {
    border-bottom: 1px solid #c7c8c9;
}

.current-user {
    color: #fff;
}

textarea[name="message"] {
    resize: none;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-button {
    background-color: inherit;
    color: #fff;
    font-size: 1.2em;
    padding: 0 0.3em;
    cursor: pointer;
}

.icon-button:hover {
    color: #d3dfea;
}

.icon-button-send-message-form {
    font-size: 1.5em;
    border: none;
}

.icon-button-send-message-form:disabled {
    color: #c7c8c9;
    cursor: default;
}

.icon-button-download {
    color: #17a2b8;
}

.icon-button-download:hover {
    color: #388393;
}

.icon-button-pin {
    font-size: 0.8em;
    color: #3a464e;
}

.icon-button-pin:hover {
    color: #000;
}

.icon-button-unpin {
    font-size: 0.8em;
    color: #d3dfea;
    transform: scale(-1);
}

.icon-button-unpin:hover {
    color: #fff;
}

.icon-button-arrow {
    background-color: inherit;
    color: #343a40;
    font-size: 1.4em;
    padding: 0 0.5em;
    cursor: pointer;
}

.icon-button-arrow:hover,
.icon-button-close:hover {
    color: #000;
}

.icon-button-absolute {
    position: absolute;
}

.icon-button-right {
    right: 0;
}

.icon-button-left {
    left: 0;
}

.upload-field {
    height: 1.5em;
    width: 1.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.upload-field input[type='file'] {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer !important;
}

.upload-file-name {
    color: #f3eeee;
}

.upload-file-name:not(:empty) + .icon-button {
    display: block !important;
}

.upload-file-name:not(:empty)::before {
    content: '\f15b  Selected file: ';
    font-family: "Font Awesome 5 Pro", "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6em);
}

.form {
    padding: 2em;
    max-width: 380px;
    background-color: #fff;
    border-radius: 3px;
}

.custom-checkbox .custom-control-input ~ .custom-control-label::before {
    border: 2px solid #17a2b8;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #17a2b8;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #17a2b8;
}

.form-control::placeholder,
.form-control::-webkit-input-placeholder {
    opacity: 0.7;
}

.input-icon-wrapper {
    position: relative;
    width: 100%;
    z-index: 1;
}

.input-icon-wrapper input {
    background-color: transparent;
}

.input-icon-wrapper > input:focus {
    background-color: transparent;
}

.input-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #6c757d;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding-left: 1.2em;
    z-index: -1;
    transition: padding-left 0.4s linear;
}

.input-icon-wrapper > input:focus + .input-icon {
    color: #17a2b8;
    padding-left: 1em;
}

.tooltip-inner {
    background-color: #3a464e;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #3a464e;
}

input:not([type="hidden"]) ~ .invalid-feedback,
textarea:not([type="hidden"]) ~ .invalid-feedback {
    display: block;
}

.upload-file ~ .invalid-feedback {
    display: block;
    color: #820b05;
    margin-left: 1em;
    margin-right: 1em;
}

.form-link {
    color: #6c757d;
    text-decoration: none;
    border-bottom: 1px solid #6c757d;
}

.form-link:hover {
    color: #17a2b8;
    text-decoration: none;
    border-bottom: 1px solid #17a2b8;
    transition: all 0.4s linear;
}

.error-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 576px) {
    .channels .fixed-header {
        background: -webkit-linear-gradient(to right, #58a2e1, #8c6dea);
        background: -o-linear-gradient(to right, #58a2e1, #8c6dea);
        background: -moz-linear-gradient(to right, #58a2e1, #8c6dea);
        background: linear-gradient(to right, #58a2e1, #8c6dea);
    }

    .messages .fixed-header {
        background: -webkit-linear-gradient(to right, #8c6dea, #cf56f5);
        background: -o-linear-gradient(to right, #8c6dea, #cf56f5);
        background: -moz-linear-gradient(to right, #8c6dea, #cf56f5);
        background: linear-gradient(to right, #8c6dea, #cf56f5);
    }

    .channel-info .fixed-header {
        background: -webkit-linear-gradient(to right, #ce57f6, #e95ef9);
        background: -o-linear-gradient(to right, #ce57f6, #e95ef9);
        background: -moz-linear-gradient(to right, #ce57f6, #e95ef9);
        background: linear-gradient(to right, #ce57f6, #e95ef9);
    }
}