{% extends "base.html" %}

{% block title %}Channels - {% endblock %}

{% block nav %}
<nav id="navbar" class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <li class="navbar-brand mb-0 h1">Flack</li>
    </ul>
    {% if current_user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" id="logout" href="{{ url_for('auth.logout') }}">Log out</a>
        </li>
    </ul>
    {% endif %}
</nav>
{% endblock %}

{% block page_content %}
<div class="chat-container tab-content mt-n3" id="chat-container">
    <div class="chat-section channels tab-pane d-sm-block shadow-sm" id="channels-tab">
        <div class="fixed-header justify-content-center shadow">
            <h4>Channels</h4>
            <div class="icon-button" id="create-channel" data-toggle="modal" data-target="#create-channel-modal"
                 data-tooltip="tooltip" title="Create new channel">
                <i class="fas fa-plus-circle"></i>
            </div>
            <div class="d-block d-sm-none toggle-pane icon-button-arrow icon-button-absolute icon-button-right"
                 data-toggle="tab" data-target="#messages-tab">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
        <ul id="channels" class="lead list-unstyled channel-items-list cursor-pointer"></ul>
        <div id="channels-sentinel" class="sentinel d-flex justify-content-center mt-2">
            <!--            <div class="spinner-border text-secondary" id="channels-spinner" role="status">-->
            <!--                <span class="sr-only">Loading...</span>-->
            <!--            </div>-->
        </div>
    </div>
    <div class="chat-section messages d-sm-block shadow-sm tab-pane active" id="messages-tab">
        <div class="fixed-header justify-content-center shadow">
            <div class="d-block d-sm-none toggle-pane icon-button-arrow icon-button-absolute icon-button-left"
                 data-toggle="tab" data-target="#channels-tab">
                <i class="fas fa-arrow-left"></i>
            </div>
            <h4 id="channel-name-header" class="text-truncate channel-name-header">{{ user.current_channel.name }}</h4>
            <div class="d-block d-sm-none toggle-pane icon-button-arrow icon-button-absolute icon-button-right"
                 data-toggle="tab" data-target="#channel-info-tab">
                <i class="fas fa-arrow-right"></i>
            </div>
            <div class="d-none d-sm-block d-lg-none icon-button icon-button-absolute icon-button-right"
                 id="toggle-channel-info" data-tooltip="tooltip" title="Toggle info panel">
                <i class="fas fa-info-circle"></i>
            </div>
        </div>
        <div id="messages-sentinel" class="sentinel d-flex justify-content-center mb-2">
            <div class="spinner-border text-secondary" id="messages-spinner" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div id="messages-area">
            <div id="messages" class="d-flex flex-column mx-3"></div>
            <form class="mx-3 my-3 {{ 'd-none' if not user.channel_id }}" id="send-message">
                <div class="d-flex align-items-end">
                    <div class="form-group icon-button icon-button-send-message-form upload-field">
                        <input name="file" type="file">
                        <i class="fas fa-paperclip"></i>
                    </div>
                    <div class="form-group flex-grow-1 mx-2">
                        <textarea name="message" class="form-control" rows="2"></textarea>
                    </div>
                    <button type="button" class="form-group icon-button icon-button-send-message-form" id="btn-send"
                            disabled>
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
                <div class="d-flex align-items-center upload-file">
                    <div class="upload-file-name flex-grow-1 mx-3" id="upload-file-info"></div>
                    <div class="icon-button d-none" id="unlink-file">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="chat-section channel-info tab-pane d-lg-block shadow-sm" id="channel-info-tab">
        <div class="fixed-header justify-content-center shadow">
            <div class="d-block d-sm-none toggle-pane icon-button-arrow icon-button-absolute icon-button-left"
                 data-toggle="tab" data-target="#messages-tab">
                <i class="fas fa-arrow-left"></i>
            </div>
            <h4>Channel info</h4>
            <div class="d-none d-sm-block d-lg-none icon-button icon-button-absolute icon-button-right"
                 id="close-channel-info" data-tooltip="tooltip" title="Close info panel">
                <i class="fas fa-times-circle"></i>
            </div>
        </div>
        <div class="text-center">
            <div class="d-inline-block text-left">
                <div id="channel-details" class="mx-3 mb-3 channel-details"></div>
                <h5 class="px-3 mb-3">Active members</h5>
                <ul id="members" class="list-unstyled px-3"></ul>
            </div>
        </div>
        <div id="channel-info-sentinel" class="sentinel d-flex justify-content-center mt-2">
            <!--            <div class="spinner-border text-secondary" id="members-spinner" role="status">-->
            <!--                <span class="sr-only">Loading...</span>-->
            <!--            </div>-->
        </div>
    </div>
</div>

<div class="modal fade" id="create-channel-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3">
            <div class="modal-header border-0 justify-content-center">
                <h4 class="modal-title">Create channel</h4>
            </div>
            <form name="create-channel">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" name="channel" placeholder="Channel name" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <textarea class="form-control" name="description" placeholder="Short description"
                                      required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer border-0 justify-content-center">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="button" id="submit" class="btn btn-info" disabled>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% raw %}

<script id="flash-template" type="text/x-handlebars-template">
    {{#each .}}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {{/each}}
</script>

<script id="channels-template" type="text/x-handlebars-template">
    {{#each channels}}
    <li class="{{#if_eq name ../activeChannel}}channel-active{{/if_eq}}" data-channel="{{name}}"
        data-pinned="{{pinned}}">
        <div class="channel-pin-icon icon-button {{#if pinned}}icon-button-pin{{else}}icon-button-unpin{{/if}} d-inline-block"
             data-tooltip="tooltip" title="{{#if pinned}}Unpin channel{{else}}Pin channel{{/if}}">
            <i class="fas fa-thumbtack"></i>
        </div>
        <div class="channel-name d-inline-block">
            {{name}}
        </div>

    </li>
    {{/each}}
</script>

<script id="channel-details-template" type="text/x-handlebars-template">
    <h5 class="mb-3">Channel details</h5>
    <h6 class="lead mb-0">Name</h6>
    <p class="mb-3">{{name}}</p>
    <h6 class="lead mb-0">Description</h6>
    <p class="mb-3">{{description}}</p>
    <h6 class="lead mb-0">Created</h6>
    <p class="mb-3">Created by {{creator}} on {{date timestamp 'format' 'LL'}}</p>
</script>

<script id="members-template" type="text/x-handlebars-template">
    {{#each .}}
    <li>{{this}}</li>
    {{/each}}
</script>

<script id="messages-template" type="text/x-handlebars-template">
    {{#each messages}}
    <div class="message media bg-light my-1 {{#if_eq author ../username}}ml-auto{{else}}mr-auto{{/if_eq}}">
        <img class="avatar mr-3" src="{{avatar}}" alt="avatar">
        <div class="media-body">
            <div class="d-flex justify-content-between">
                <h6 class="lead mr-3 message-username">{{author}}</h6>
                <small class="text-secondary text-nowrap">{{date timestamp 'format' 'DD/MM/YY HH:mm'}}</small>
            </div>
            <div>{{breaklines text}}</div>
            {{#if file}}
            <div class="d-flex align-items-center mt-1">
                <div class="icon-button icon-button-download cursor-pointer download" data-file_id="{{file.id}}">
                    <i class="fas fa-file-download"></i>
                </div>
                <small>{{file.name}} - {{file.size}}</small>
            </div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</script>

{% endraw %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=IntersectionObserver"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="{{ url_for('static', filename='FileSaver.min.js') }}"></script>
<script src="{{ url_for('static', filename='sockets.js') }}"></script>
{% endblock %}