{% extends "base.html" %}

{% block title %}Channels - Chat{% endblock %}

{% block page_content %}
<h2>{{ user }}</h2>
<div class="row">
    <div class="col-3">
        <h3>Channels</h3>
        <div id="channels"></div>
    </div>
    <div class="col-6">
        <div id="messages">
            Select channel or create your own channel to start messaging
        </div>
    </div>
    <div class="col-3">
        <h3>Members</h3>
        <div id="members"></div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="{{ url_for('static', filename='sockets.js') }}"></script>
{% endblock %}